extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
block main 
    include ../../partials/list-button.pug
    .container.my-3 
        .row    
            .col-12
                .chat(my-id=user.id)
                    .inner-body 
                        each chat of chats
                            div(class = (chat.user_id != user.id) ? "inner-incoming" : "inner-outgoing")
                                if (chat.user_id != user.id) 
                                    .inner-name 
                                        i.fa.fa-user-circle(style="margin-right: 5px;")
                                        | #{chat.infoUser ? chat.infoUser.fullName : 'User'}
                                .inner-content #{chat.content}
                    .inner-foot 
                        form(class = "inner-form")
                            input(
                                type="text"
                                placeholder="Nhập tin nhắn của bạn..."
                                name="content"
                                autocomplete="off"
                            )
                            span(class = "button-icon")
                                i.fa.fa-smile-o(title="Chọn emoji")
                            button(type="submit" title="Gửi tin nhắn")
                                i.fa.fa-paper-plane
        div(class = "tooltip" role = "tooltip")
            emoji-picker(class = "light")
block script
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.js"></script>
    <script type = "module" src="/js/chat.js"></script>  
