extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
include ../../mixins/alert.pug

block main 
    +alert-error(2000)
    +alert-success(2000)
    .container.my-3 
        .row
            .col-12 
                +box-head("🔒 Đổi mật khẩu")
        .row.mt-4.justify-content-center
            .col-lg-6
                .edit-form-container
                    .password-tips
                        h5
                            i.fa.fa-info-circle
                            | Lưu ý khi đổi mật khẩu
                        ul
                            li Mật khẩu nên có ít nhất 6 ký tự
                            li Nên kết hợp chữ hoa, chữ thường và số
                            li Không chia sẻ mật khẩu với người khác

                    form(
                        action="/users/change-password"
                        method="POST"
                    )
                        .form-group.mb-4
                            label.form-label
                                i.fa.fa-lock
                                | Mật khẩu hiện tại
                            input.form-control(
                                type="password"
                                name="currentPassword"
                                placeholder="Nhập mật khẩu hiện tại"
                                required
                            )

                        .form-group.mb-4
                            label.form-label
                                i.fa.fa-key
                                | Mật khẩu mới
                            input.form-control(
                                type="password"
                                name="newPassword"
                                placeholder="Nhập mật khẩu mới"
                                required
                                minlength="6"
                            )

                        .form-group.mb-4
                            label.form-label
                                i.fa.fa-check-circle
                                | Xác nhận mật khẩu mới
                            input.form-control(
                                type="password"
                                name="confirmPassword"
                                placeholder="Nhập lại mật khẩu mới"
                                required
                                minlength="6"
                            )

                        .form-actions
                            button.btn-save(type="submit")
                                i.fa.fa-check
                                | Đổi mật khẩu
                            a.btn-cancel(href="/users/info")
                                i.fa.fa-times
                                | Hủy bỏ
