extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 

block main 
  .container.my-3 
    include ../../partials/list-button.pug 
    .row
      .col-12 
        +box-head("游닌 L敲렬 m敲렬 k故쯦 b故멽")
    .row(
      info-user-accept = user.id
    )   
      each item in users
        .col-md-6.col-lg-4.mb-3
          div(class = "box-user")
            div(class = "inner-avatar")
              img(
                src = (item.avatar ? item.avatar : "https://i.pinimg.com/736x/8f/1c/a2/8f1ca2029e2efceebd22fa05cca423d7.jpg")
                alt = item.fullName
              )
            div(class = "inner-info")
              div(class = "inner-name") #{item.fullName}
              div(class = "inner-buttons") 
                button(
                  btn-accept-friend = item._id
                  style="margin: 5px;"
                ) 
                  i.fa.fa-check(style="margin-right: 5px;")
                  | Ch故볋 nh故셡
                button(
                  btn-delete-friend = item._id
                  style="margin: 5px;"
                ) 
                  i.fa.fa-trash(style="margin-right: 5px;")
                  | X칩a
                button(
                  btn-accepted-friend = item._id
                  style="margin: 5px;"
                  disabled 
                ) 
                  i.fa.fa-check-circle(style="margin-right: 5px;")
                  | 캟칚 ch故볋 nh故셡
                button(
                  btn-deleted-friend = item._id
                  style="margin: 5px;"
                  disabled 
                ) 
                  i.fa.fa-ban(style="margin-right: 5px;")
                  | 캟칚 x칩a
block script
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
  <script src="/js/users.js"></script>  